.navbar{
    position: fixed;
    width: 100%;
    height: 30px;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #111;
}
.logo{
    position: fixed;
    left: 20px;
    width: 80px;
}
.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    margin-right: 10px;
    color: red;
}